html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header,
.header {
  background-color: #161b27;
  height: auto;
  width: 100%;
  padding: 30px 0;
  color: #fff;
}
header img.mogy-logo,
.header img.mogy-logo {
  margin-left: 20px;
  margin-top: 15px;
}
header .header-title,
.header .header-title {
  padding-right: 75px;
}
header .header-title h2.title,
.header .header-title h2.title {
  font-size: 32px;
  margin: 0;
}
header .header-title h5.subtitle,
.header .header-title h5.subtitle {
  font-size: 12px;
  margin: 0;
}
main.container,
.main-container {
  margin-top: 30px;
}
main.container .left-side .profile-picture-container,
.main-container .left-side .profile-picture-container {
  position: relative;
}
main.container .left-side .profile-picture-container img.profile-picture,
.main-container .left-side .profile-picture-container img.profile-picture {
  border: 4px solid #161b27;
  min-width: 218px;
  min-height: 218px;
}
main.container .left-side .profile-picture-container img.mogy-trainer-mark,
.main-container .left-side .profile-picture-container img.mogy-trainer-mark {
  position: absolute;
  bottom: 0;
  right: 0;
}
main.container .left-side .profile-social-links-container img,
.main-container .left-side .profile-social-links-container img {
  width: 20px;
  height: 20px;
}
main.container .right-side,
.main-container .right-side {
  padding-left: 45px;
}
main.container .right-side .profile-headline .profile-name,
.main-container .right-side .profile-headline .profile-name {
  position: relative;
}
main.container .right-side .profile-headline .profile-name img.mogy-verified-mark,
.main-container .right-side .profile-headline .profile-name img.mogy-verified-mark {
  position: absolute;
  top: 0;
  right: -55px;
}
main.container .right-side hr,
.main-container .right-side hr {
  margin: 30 -15px;
}
main.container h1,
.main-container h1 {
  margin: 0;
  font-weight: bold;
}
main.container h2,
.main-container h2 {
  margin: 0;
}
main.container h3,
.main-container h3 {
  margin: 0;
}
